<html>
  <head>
  <title>Nearby</title>
  
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">  
  <!--
    <link rel="apple-touch-icon" href="images/template/engage.png"/>
  -->
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= @google_api_key %>" type="text/javascript"></script>
  
  <script type="text/javascript" src="/nearby.js"></script>
  </head>

<body onorientationchange="updateOrientation();">
  
  <h3>Nearby</h3>
  
  <div>
  <script type="text/javascript">
  
  $(document).ready(function() {
    // Check if location is available
    detectLocation();
    return true;
  });
  </script>
  </div>
  
  <div id='spinner'>Determining your location...</div>
  
  <div id='container'></div>
  
</body>
</html>